header.header
    .container
        .header__inner
            ul.header__menu  
                li.header__menu-item 
                    a(href="#shop") SHOP
                li.header__menu-item 
                    a(href="#faq") HOW DOES IT WORK ?  

            .header__logo 
                a(href="#") 
                    +icon('sprite_logo') 
            .header__action
                a.header__action-link.gradient-text(href="#sign-in") SIGN IN 
                a.header__action-link.header__action-link--bg(href="#request") REGISTER 
                a(href="#" class="burger js-mobile-menu-toggle") 
            