.mobile-menu 
    .container 
        .mobile-menu__inner 
            .mobile-menu__action 
                a.mobile-menu__action-link.gradient-text(href="#sign-in") SIGN IN 
                a.mobile-menu__action-link.gradient-text(href="#register") REGISTER 
            ul.mobile-menu__list
                li.mobile-menu__item
                    a(href="#shop") SHOP 
                li.mobile-menu__item
                    a(href="#faq") HOW DOES IT WORK ?  
            a(href="#" class="burger js-mobile-menu-toggle") 