section.about
    .container 
        .about__inner 
            //- .gradien__big
            .about__title 
                h2.heading.heading--lg.heading--center Run with your friends, share milestones and get rewarded by favorite brands
            .about__cards
                .about__cards-item.about__cards--odd
                    .about__card-badge 
                        picture 
                            source(srcset="/images/about/1.webp, /images/about/1@2x.webp 1.5x")
                            img(src="/images/about/1.jpg", srcset="/images/about/1@2x.jpg 1.5x" alt="messanger" width="143" height="162")
                    .about__card-title 
                        h4.heading Get new friends
                    .about__card-text 
                        p Connect with friends and complete challenges together. 
                .about__cards-item.about__cards--even
                    .about__card-badge 
                        picture 
                            source(srcset="/images/about/2.webp, /images/about/2@2x.webp 1.5x")
                            img(src="/images/about/2.jpg", srcset="/images/about/2@2x.jpg 1.5x" alt="health plan"  width="89" height="112")
                    .about__card-title 
                        h4.heading Your complete health record
                    .about__card-text 
                        p Track your calories and complete health history from you work-out
                .about__cards-item.about__cards--even
                    .about__card-badge 
                        picture 
                            source(srcset="/images/about/3.webp, /images/about/3@2x.webp 1.5x")
                            img(src="/images/about/3.jpg", srcset="/images/about/3@2x.jpg 1.5x" alt="smart-watch"  width="119" height="148")
                    .about__card-title 
                        h4.heading Connect your smart watch: Apple, google, fitbit
                    .about__card-text 
                        p Don't have a smart watch? Subscribe and get one for 
                            span.gradient-text free
                            | !
                .about__cards-item.about__cards--odd
                    .about__card-badge 
                        picture 
                            source(srcset="/images/about/4.webp, /images/about/4@2x.webp 1.5x")
                            img(src="/images/about/4.jpg", srcset="/images/about/4@2x.jpg 1.5x" alt="wallet"  width="138" height="148")
                    .about__card-title 
                        h4.heading Subscribe and get run dollars. You don't need your wallet.
                    .about__card-text 
                        p You can buy it with your own money or you can earn it with cardio