section.faq#faq
    .container 
        .faq__inner 
            .gradient__big
            .faq__title 
                h2.heading.heading--lg.heading--center Frequently asked questions
            .faq__grid 
                .faq__accordion.faq__accordion---list
                    .faq__accordion-item.js-accordion-item
                        .faq__accordion-header 
                            .faq__accordion-title
                                h4 How many time later i will got my rewards?
                            .faq__accordion-trigger.js-accordion-trigger 
                                a(href="#")
                                    span 
                        .faq__accordion-content.js-accordion-content
                            .faq__accordion-text
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .faq__accordion-item.js-accordion-item.active
                        .faq__accordion-header 
                            .faq__accordion-title
                                h4 How many time later i will got my rewards?
                            .faq__accordion-trigger.js-accordion-trigger 
                                a(href="#")
                                    span 
                        .faq__accordion-content.js-accordion-content(style="display: block")
                            .faq__accordion-text
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .faq__accordion-item.js-accordion-item 
                        .faq__accordion-header 
                            .faq__accordion-title
                                h4 How many time later i will got my rewards?
                            .faq__accordion-trigger.js-accordion-trigger 
                                a(href="#")
                                    span 
                        .faq__accordion-content.js-accordion-content
                            .faq__accordion-text
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                    .faq__accordion-item.js-accordion-item 
                        .faq__accordion-header 
                            .faq__accordion-title
                                h4 How many time later i will got my rewards?
                            .faq__accordion-trigger.js-accordion-trigger 
                                a(href="#")
                                    span 
                        .faq__accordion-content.js-accordion-content
                            .faq__accordion-text
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                .faq__aside
                    .faq__aside-img 
                        picture 
                            source(srcset="/images/faq/question.webp, /images/faq/question@2x.webp 1.5x")
                            img(src="/images/faq/question.jpg", srcset="/images/faq/question@2x.jpg 1.5x" alt="device img" width="240" height="250")
                    .faq__aside-title 
                        h4 You have different questions?
                    .faq__aside-text 
                        p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                    .faq__aside-action 
                        a(href="#addquestion") 
                            span 
                                +icon('sprite_faq-add-q') 
                            | Shoot a Direct Mail
