section.features#shop
    .container 
        .features__inner 
            .features__grid 
                //- .gradient__big
                .features__brand 
                    .features__brand-title 
                        span 
                            +icon('sprite_header-mark')
                        h2 Get your favorite Brands
                    .features__brand-list 
                            .swiper-wrapper
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122")
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122")
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122")
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122")
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122") 
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122")
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122")
                                .features__brand-item.swiper-slide
                                    a(href="#nike")
                                        picture 
                                            source(srcset="/images/features/brands/1.webp, /images/features/brands/1@2x.webp 1.5x")
                                            img(src="/images/features/brands/1.jpg", srcset="/images/features/brands/1@2x.jpg 1.5x" alt="brand item image" width="122", height="122") 
                    .features__brand-text 
                        a.gradient-text(href="#marketplace") See marketplace
                            +icon('sprite_open-link')  

                .features__progress 
                    .features__progress-img 
                        .features__progress-device 
                            picture 
                                source(srcset="/images/features/device.webp, /images/features/device@2x.webp 1.5x")
                                img(src="/images/features/device.jpg", srcset="/images/features/device@2x.jpg 1.5x" alt="brand item image" width="417", height="835")
                            .features__progress-item
                                picture 
                                    source(srcset="/images/features/progress/1.webp, /images/features/progress/1@2x.webp 1.5x")
                                    img(src="/images/features/progress/1.jpg", srcset="/images/features/progress/1@2x.jpg 1.5x" alt="brand item image" width="403", height="258")

            .features__cards
                .gradient__small
                .features__cards-title 
                    h3.heading Get real items
                .features__cards-list
                    .swiper-wrapper 
                        .features__cards-item.features__cards-item--headphone.swiper-slide 
                            .features__item-morebtn 
                                +icon('sprite_more-icon')
                            .features__item-left 
                                .features__item-title 
                                    h4 TMA-2 Modular Headphone
                                .features__item-price 
                                    span 123 RD or $30
                            .features__item-right
                                .features__item-addbtn 
                                    a(href="#additem") Set as a goal 
                                        +icon('sprite_add-icon')
                        .features__cards-item.features__cards-item--wear.swiper-slide 
                            .features__item-morebtn 
                                +icon('sprite_more-icon')
                            .features__item-left
                                picture 
                                    source(srcset="/images/features/cards/item-2.webp, /images/features/cards/item-2@2x.webp 1.5x")
                                    img(src="/images/features/cards/item-2.jpg", srcset="/images/features/cards/item-2@2x.jpg 1.5x" alt="soprtswear image" width="115", height="130")

                            .features__item-right 
                                .features__item-title 
                                    h4 Men Sportswear Set
                                .features__item-price 
                                    span.gradient-text 123 RD or $30
                                .features__item-text 
                                    p Nulla Lorem mollit cupidatat irure.
                                .features__item-addbtn 
                                    a(href="#additem") Set as a goal 
                                        +icon('sprite_add-icon')

                        .features__cards-item.features__cards-item--headphone.swiper-slide 
                            .features__item-morebtn 
                                +icon('sprite_more-icon')
                            .features__item-left 
                                .features__item-title 
                                    h4 TMA-2 Modular Headphone
                                .features__item-price 
                                    span 123 RD or $30
                            .features__item-right
                                .features__item-addbtn 
                                    a(href="#additem") Set as a goal 
                                        +icon('sprite_add-icon')
                        .features__cards-item.features__cards-item--wear.swiper-slide 
                            .features__item-morebtn 
                                +icon('sprite_more-icon')
                            .features__item-left
                                picture 
                                    source(srcset="/images/features/cards/item-2.webp, /images/features/cards/item-2@2x.webp 1.5x")
                                    img(src="/images/features/cards/item-2.jpg", srcset="/images/features/cards/item-2@2x.jpg 1.5x" alt="soprtswear image" width="115", height="130")

                            .features__item-right 
                                .features__item-title 
                                    h4 Men Sportswear Set
                                .features__item-price 
                                    span.gradient-text 123 RD or $30
                                .features__item-text 
                                    p Nulla Lorem mollit cupidatat irure.
                                .features__item-addbtn 
                                    a(href="#additem") Set as a goal 
                                        +icon('sprite_add-icon')

                        .features__cards-item.features__cards-item--headphone.swiper-slide 
                            .features__item-morebtn 
                                +icon('sprite_more-icon')
                            .features__item-left 
                                .features__item-title 
                                    h4 TMA-2 Modular Headphone
                                .features__item-price 
                                    span 123 RD or $30
                            .features__item-right
                                .features__item-addbtn 
                                    a(href="#additem") Set as a goal 
                                        +icon('sprite_add-icon')
                        .features__cards-item.features__cards-item--wear.swiper-slide 
                            .features__item-morebtn 
                                +icon('sprite_more-icon')
                            .features__item-left
                                picture 
                                    source(srcset="/images/features/cards/item-2.webp, /images/features/cards/item-2@2x.webp 1.5x")
                                    img(src="/images/features/cards/item-2.jpg", srcset="/images/features/cards/item-2@2x.jpg 1.5x" alt="soprtswear image" width="115", height="130")

                            .features__item-right 
                                .features__item-title 
                                    h4 Men Sportswear Set
                                .features__item-price 
                                    span.gradient-text 123 RD or $30
                                .features__item-text 
                                    p Nulla Lorem mollit cupidatat irure.
                                .features__item-addbtn 
                                    a(href="#additem") Set as a goal 
                                        +icon('sprite_add-icon')                 