section.install 
    .container 
        .install__inner 
            //- .gradient__big 
            //- .gradient__small
            .install__left 
                .install__left-title 
                    h3.heading Download the app for your smartwatches and bracelets 
                .install__left-text 
                    p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum diam orci pretium a pharetra. 
                .install__left-action
                    a(href="#downloadappfromappmarket")
                        +icon('sprite_b-appmarket')
                    a(href="#downloadappfromappstore")
                        +icon('sprite_b-appstore')
            .install__right 
                .install__right-img.install__right-img--device1
                    picture 
                        source(srcset="/images/features/device.webp, /images/features/device@2x.webp 1.5x")
                        img(src="/images/features/device.jpg", srcset="/images/features/device@2x.jpg 1.5x" alt="devices1 image" width="230" height="464")
                .install__right-img.install__right-img--device2
                    picture 
                        source(srcset="/images/features/device2.webp, /images/features/device2@2x.webp 1.5x")
                        img(src="/images/features/device2.jpg", srcset="/images/features/device2@2x.jpg 1.5x" alt="devices2 image" width="230" height="464")
