section.plan 
    .container 
        .plan__inner
            .plan__block.plan__block--left 
                .plan__img.plan__img--device 
                    picture 
                        source(srcset="/images/features/device.webp, /images/features/device@2x.webp 1.5x")
                        img(src="/images/features/device.jpg", srcset="/images/features/device@2x.jpg 1.5x" alt="device img" width="359" height="719")
                .plan__img.plan__img--watch 
                    picture 
                        source(srcset="/images/about/3.webp, /images/about/3@2x.webp 1.5x")
                        img(src="/images/about/3.jpg", srcset="/images/about/3@2x.jpg 1.5x" alt="device img" width="295" height="368")
            .plan__block.plan__block--right
                .plan__title 
                    h2.heading.heading--lg Get your personal plan for free
                .plan__text
                    p.text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                .plan__title-secondary 
                    h3.heading We will create a personal plan for you personally for free
                .plan__text
                    p.text Aliqua id fugiat nostrud irure ex duis ea quis id quis ad et. Sunt qui esse pariatur duis deserunt mollit dolore cillum minim tempor enim. Elit aute irure tempor cupidatat incididunt sint deserunt ut voluptate aute id deserunt nisi.