extends pug/layouts/base

block meta
    meta(name='description' content='')

block title
    title Run and Get

block header
    include pug/blocks/header
block content
    include pug/sections/lead
    include pug/sections/features
    include pug/sections/about
    include pug/sections/plan
    include pug/sections/faq
    include pug/sections/install
    include pug/sections/request
block footer
    include pug/blocks/footer